// Copy this file to app_secrets.dart and fill in your actual Supabase keys
abstract final class AppSecrets {
  static const supabaseUrl = 'xsdkbgxqmmykaelkbkzp';
  static const supabaseAnonKey = 'sb_publishable_Rdi67ujE8OwCOzejcI1GGg_NmCtOzqJ';
}
